<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--General Settings-->
	<appSettings>
		<add key="clientId"					value=""/>
		<add key="clientSecret"				value=""/>

		<add key="queueTime"				value=""/>

		<add key="configDataTableId"		value=""/>

		<add key="wrapUpDataTableId"		value=""/>

		<add key="quarantinePeriod"			value=""/>

		<add key="contactListPeriod"		value=""/>
	</appSettings>
</configuration>
